- provide(:title, 'Show author')
%p
  %b Firstname:
  = @author.firstname
%p
  %b Lastname:
  = @author.lastname
- if @author.description
  %p
    %b Description:
    .tab
      = simple_format(@author.description)
= link_to 'Back', :back
