- provide(:title, t('list_books'))
.container.center_box
  - if @books.any?
    #myCarousel.carousel.slide{'data-ride' => "carousel"}
      %ol.carousel-indicators
        - @books.returns_count_sum.count.times do |i|
          = content_tag :li, '',{'data-target' => "#myCarousel",
                               'data-slide-to' => i, class: i == 0 ? 'active' : '' }
      .carousel-inner
        - @books.each_with_index do |book, i|
          - item_class = i == 0 ? 'item active' : 'item'
          %div{class: item_class}
            = render 'carousel', book: book
      %a{ 'href' => '#myCarousel', class: "carousel-control left", 'data-slide' => "prev" }
        ‹
      %a{ 'href' => '#myCarousel', class: "carousel-control right", 'data-slide' => "next" }
        ›
  - else
    %h1= t('no_rated_books')