// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.padded {
  margin-left: 2em;
  margin-top: -0.5em;
}

.item {
  margin-right: 50px;
  margin-left: 50px;
}

.inline {
	display: inline;
}

.number {
	width: 40px;
}

.overflow {
   overflow:hidden;
}

#myCarousel
{
  width:640px;
  height: 280px;
}

a.carousel-control
{
  top: 45%;
  left: 8px;
  width: 40px;
  height: 40px;
  margin-top: 0px;
  font-size: 48px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #222;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.3;
}

ol.carousel-indicators {
  top:8px;
  height:16px;
  text-align: right;
}

a.carousel-control.right
{
  right:0px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
  border-width:2px;
}

.carousel-indicators .active {
  background-color: #444;
}

.description {
	margin-left: 220px;
}

.image-wrapper{
  width: 200px;
  height: 160px;
  float: left;
}