@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  margin: 0px 10% 0px 10%;
}

#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  color: gray;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.heading {
  background-color: #F5F7FF;
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.center {
  text-align: center;
}

.center_box {
  width: 80%;
}

.tab {
  margin-left: 1.5em
}

.hidden {
  display: none;
}

.admin {
  background-color: #FFD4D4;
  outline: 0;
  &:hover {
    background-color: #CC7474;
  }
}

#empty_cart {
  text-align: center;
  margin-top: 5px;
  color: #BBB
}

#cart {
  height: 60px;
  outline: 0;
  margin-top: -10px;
  margin-bottom: -10px;
  padding-bottom: -10px;
  text-align: center;
  background-color: #C9F0D1;
  &:hover {
    background-color: #A9E8B6;
  }
}

.space {
  margin-top: 20px;
}

.space-left {
  margin-left: 20px;
}

.space-thumb {
  margin-left: 120px;
}

.devise-field {
  width: 250px;
}